/* Tamaño igual para labels de inputs y selects */
.input-field label,
.input-field label.active {
    font-size: 1.2rem !important; /* Igual para todos */
}

.label.control-label{
  font-size: 1.2rem !important;
}

/* Elimina la animación del label flotante en los inputs */
.input-field label {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  
}
.input-field input:focus + label,
.input-field input:not(:placeholder-shown) + label,
.input-field input:valid + label {
  /* Si quieres que el label siempre esté arriba y sin animación */
  transform: translateY(-14px) scale(0.8) !important;
  -webkit-transform: translateY(-14px) scale(0.8) !important;
  -moz-transform: translateY(-14px) scale(0.8) !important;
  -o-transform: translateY(-14px) scale(0.8) !important;
}

/*File input */
/* Oculta el campo file-path-wrapper para que no se vea */
.file-path-wrapper {
  display: none !important;
}

/* Estilo para el botón que contiene el input file */
.file-field .btn {
  position: relative;
  min-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #7c3aed;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  padding: 0 20px;
  height: 42px;
  display: flex;
  align-items: center;
  
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-field .btn:hover {
  background-color: #5a0ee5;
}

/* Texto original dentro del span */
.file-field .btn span {
  display: inline-block;
  vertical-align: middle;
}

/* Nuevo span para mostrar el nombre del archivo */
.file-field .btn .file-name {
  display: inline-block;
  margin-left: 8px;
  font-weight: 600;
  max-width: 150px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
  font-size: 0.95rem;
}

.collection {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#messages-queue {
    display: none;
}

.htmx-indicator{
    opacity:0;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

.section{
    min-height: 600px !important;
}

body {

    background-color: #f5f5f5 !important; /* Gris muy claro */
  }

  .tabs .indicator {
    background-color: #014C40; /* Cambia el color de la línea */
    height: 4px; /* Ajusta el grosor */
  }

  .tabs .tab a.active {
    background-color: #e0f2f1 !important; /* Fondo del tab */
  }

  
