</div>
</body>

 <!-- Footer -->
 <footer class="page-footer teal darken-3">
  <div class="container">
    <div class="row">
      <!-- Sección de información -->
      <div class="col l6 s12">
        <h5 class="white-text">Mi Sitio Web</h5>
        <p class="grey-text text-lighten-4">
          Este es un sitio creado con MaterializeCSS. Síguenos en nuestras redes sociales.
        </p>
      </div>

      <!-- Sección de enlaces -->
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Enlaces</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Sobre Nosotros</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Servicios</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Sección de Copyright -->
  <div class="footer-copyright teal darken-4">
    <div class="container center-align">
      © 2024 Mi Sitio Web | Desarrollado con MaterializeCSS
    </div>
  </div>
</footer>

  <!-- Materialize JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>